<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Geld Machine</title>
</head>
<body>
    <h2>Live server data Geld Machine Bitvavo</h2>
    <h3 id='trackCoin'></h3>
    <h3 id='trackCoin2'></h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <h3>Hele Bitvavo markt (Som van alle huidige prijzen)</h3>
    <h3 id='wholeMarket'></h3>
    <div>
        <canvas id="myChartMarket"></canvas>
    </div>
    <div id="consoleDiv">
        <h3>Printout Server Console</h3>
    </div>
    <audio id="audio" src="coin.wav"></audio>
</body>
</html>